.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}


.skin {
  position: absolute;
  z-index: 1;
}

.shirt {
  margin-top: -90px;
}

.hair {
  position: absolute;
  z-index: 3;
  margin-bottom: -80px !important;
}

%height-width-box {
  width: 90px !important;
  height: 90px !important;
}

.skin_ddc994 {
  background-image: url('../../../../assets/spritesmith-main-5.png');
  background-position: -1379px -637px;
  @extend %height-width-box;
}

.skin_ea8349 {
  background-image: url('../../../../assets/spritesmith-main-5.png');
  background-position: -460px -273px;
  @extend %height-width-box;
}

.skin_f5a76e {
  background-image: url('../../../../assets/spritesmith-main-5.png');
  background-position: -273px -452px;
  @extend %height-width-box;
}

.skin_c06534 {
  background-image: url('../../../../assets/spritesmith-main-5.png');
  background-position: -1106px 0px;
  @extend %height-width-box;
}

.skin_98461a {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -1638px -273px;
  @extend %height-width-box;
}

.skin_915533 {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -1638px -91px;
  @extend %height-width-box;
}

.slim_shirt_black {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -1547px -910px;
  @extend %height-width-box;
}

.slim_shirt_blue {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -1547px -1001px;
  @extend %height-width-box;
}

.slim_shirt_green {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -1547px -1365px;
  @extend %height-width-box;
}

.slim_shirt_pink {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -91px -1547px;
  @extend %height-width-box;
}

.slim_shirt_yellow {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -728px -1547px;
  @extend %height-width-box;
}

.slim_shirt_white {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -637px -1547px;
  @extend %height-width-box;
}

.hair_bangs_2_brown {
  background-image: url('../../../../assets/spritesmith-main-2.png');
  background-position: -364px -91px;
  @extend %height-width-box;
}

.hair_bangs_2_black {
  background-image: url('../../../../assets/spritesmith-main-2.png');
  background-position: -182px -273px;
  @extend %height-width-box;
}

.hair_bangs_2_blond {
  background-image: url('../../../../assets/spritesmith-main-2.png');
  background-position: -273px -273px;
  @extend %height-width-box;
}

.hair_bangs_2_red {
  background-image: url('../../../../assets/spritesmith-main-2.png');
  background-position: -182px -546px;
  @extend %height-width-box;
}

.hair_bangs_2_white {
  background-image: url('../../../../assets/spritesmith-main-2.png');
  background-position: -455px -546px;
  @extend %height-width-box;
}

.hair_base_3_blond {
  background-image: url('../../../../assets/spritesmith-main-3.png');
  background-position: -364px -1547px;
  @extend %height-width-box;
}

.hair_base_3_brown {
  background-image: url('../../../../assets/spritesmith-main-3.png');
  background-position: -546px -1547px;
  @extend %height-width-box;
}

.hair_bangs_3_white {
  background-image: url('../../../../assets/spritesmith-main-2.png');
  background-position: -819px -455px;
  @extend %height-width-box;
}

.hair_bangs_3_red {
  background-image: url('../../../../assets/spritesmith-main-2.png');
  background-position: -819px -182px;
  @extend %height-width-box;
}

.hair_bangs_3_black {
  background-image: url('../../../../assets/spritesmith-main-2.png');
  background-position: -637px -364px;
  @extend %height-width-box;
}

mat-option {
  height: 90px !important;
}