<h2 mat-dialog-title>Add New User</h2>
<mat-dialog-content>

  <div class="example-container">

    <mat-form-field>
      <mat-select placeholder="Avatar" [(ngModel)]="user.avatar">
        <mat-select-trigger>
          <mat-icon svgIcon="{{user.avatar}}"></mat-icon> {{ user.avatar }}
        </mat-select-trigger>
        <mat-option *ngFor="let avatar of avatars" [value]="avatar">
          <mat-icon svgIcon="{{avatar}}"></mat-icon> {{ avatar }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Name" [formControl]="name" [(ngModel)]="user.name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <div *ngFor="let s of skills; let i = index; trackBy: customTrackBy">
      <mat-form-field matInput style="width: 50%">
        <input name="skill-{{i}}" id="input-{{i}}" [(ngModel)]="user.skills[i]" matInput placeholder="Skill" name="skill">
      </mat-form-field>
      <button [disabled]="skills.length == 1" mat-raised-button color="primary" (click)="removeSkill(i)">-</button>
      <button *ngIf="i == skills.length - 1" [disabled]="skills.length > 4" mat-raised-button color="primary" (click)="addNewSkill()">+</button>
    </div>

    
    <mat-form-field>
      <mat-select [(value)]="pigment" placeholder="Ethnicity">
        <mat-option value="{{skinPigment}}" *ngFor="let skinPigment of SKIN_PIGMENTS">
          <div class="{{skinPigment}}"></div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="hair" placeholder="Hair Color">
        <mat-option value="{{hairCode}}" *ngFor="let hairCode of HAIR_CODES">
          <div class="{{hairCode}}"></div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="shirt" placeholder="Shirt Color">
        <mat-option value="{{shirtColor}}" *ngFor="let shirtColor of SHIRT_COLORS">
          <div class="{{shirtColor}}"></div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="avatar-box">
      <div class="avatar-position">
        <div class="{{hair}} hair"></div>
        <div class="{{pigment}} pigment"></div>
        <div class="{{shirt}} shirt"></div>
      </div>
    </div>
      
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="addNewUser()">
    <mat-icon>save</mat-icon> Save
  </button>
  <button mat-button color="primary" (click)="dismiss()">
    <mat-icon>cancel</mat-icon> Cancel
  </button>
</mat-dialog-actions>