<div *ngIf="!user">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <div class="avatar-box">
        <div class="{{user.avatar.hairColor}} hair"></div>
        <div class="{{user.avatar.skinPigment}} pigment"></div>
        <div class="{{user.avatar.shirtColor}} shirt"></div>
      </div>
      <div class="name-box">{{ user.name }}</div>
      <div class="inventory_present"></div>
      <span class="gift-count">x&nbsp;{{user.gifts.length}}</span>
    </mat-card-header>

    <mat-form-field>
      <mat-label>Give Gift</mat-label>
      <mat-select (change)="addGift($event)">
        <mat-option *ngFor="let giftImage of giftImageNames" value="{{giftImage}}">
          <mat-icon svgIcon="{{giftImage}}"></mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-label>{{user.name}}'s gifts:</mat-label>
    <div class="gift-box">
      <div *ngFor="let gift of user.gifts" class="user-gift">
        <mat-icon svgIcon="{{gift}}"></mat-icon>
      </div>
    </div>
      
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Skills">
          <app-skills [skills]="user.skills"></app-skills>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

      