<div *ngIf="!user">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <div class="avatar-box">
        <div class="{{user.avatar.hairColor | async }} hair"></div>
        <div class="{{user.avatar.skinPigment | async }} pigment"></div>
        <div class="{{user.avatar.shirtColor | async }} shirt"></div>
      </div>
      <div class="name-box">{{ user.name | async  }}</div>
      <div class="inventory_present"></div>
      <span class="gift-count">x&nbsp;{{user.gifts.length | async }}</span>
    </mat-card-header>

    <mat-form-field>
      <mat-label>Give Gift</mat-label>
      <mat-select (change)="addGift($event)">
        <mat-option *ngFor="let giftImage of giftImages" value="{{giftImage}}">
          <mat-icon svgIcon="{{giftImage}}"></mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-label>{{user.name | async }}'s gifts:</mat-label>
    <div class="gift-box">
      <div *ngFor="let gift of user.gifts | async " class="user-gift">
        <mat-icon svgIcon="{{gift}}"></mat-icon>
      </div>
    </div>
      
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Skills">
          <mat-list role="list">
            <mat-list-item *ngFor="let skill of user.skills | async " role="listitem">{{skill}}</mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

      