h2 {
  display: inline-block;
  vertical-align: middle;
}

i {
  vertical-align: middle;
  color: #3F51B5;
  cursor: pointer;
}

span {
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}

mat-list-item {
  height: 90px !important;
}

mat-card-header {
  margin-bottom: 20px;
}

.avatar-box {
  min-height: 90px;
  min-width: 90px;
  margin-left: -35px;
}

.name-box {
  padding-top: 64px;
  font-size: 20px;
}

.inventory_present {
  margin-top: 34px;
  margin-right: 5px;
}

.gift-count {
  margin-top: 64px;
}

.user-gift {
  margin: 5px;
  display: inline-block;
}

.gift-box {
  background-color: lightgrey;
  border: 2px solid #3F51B5;
}

mat-option {
  height: 90px !important;
}

mat-label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}