h2 {
  display: inline-block;
  vertical-align: middle;
}

i {
  vertical-align: middle;
  color: #3F51B5;
  cursor: pointer;
}

span {
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.skin_ddc994 {
  background-image: url('../../../../assets/spritesmith-main-5.png');
  background-position: -1379px -637px;
  width: 90px;
  height: 90px;
}

.skin_ea8349 {
  background-image: url('../../../../assets/spritesmith-main-5.png');
  background-position: -460px -273px;
  width: 90px;
  height: 90px;
}

.skin_eb052b {
  background-image: url('../../../../assets/spritesmith-main-5.png');
  background-position: -91px -452px;
  width: 90px;
  height: 90px;
}

.skin_f5a76e {
  background-image: url('../../../../assets/spritesmith-main-5.png');
  background-position: -273px -452px;
  width: 90px;
  height: 90px;
}

.skin_c06534 {
  background-image: url('../../../../assets/spritesmith-main-5.png');
  background-position: -1106px 0px;
  width: 90px;
  height: 90px;
}

.skin_98461a {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -1638px -273px;
  width: 90px;
  height: 90px;
}

.skin_915533 {
  background-image: url('../../../../assets/spritesmith-main-4.png');
  background-position: -1638px -91px;
  width: 90px;
  height: 90px;
}
