<div *ngIf="!user">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <div class="avatar-box">
        <div class="{{user.avatar2.hairColor}} hair"></div>
        <div class="{{user.avatar2.skinPigment}} pigment"></div>
        <div class="{{user.avatar2.shirtColor}} shirt"></div>
      </div>
      <div class="name-box">{{ user.name }}</div>
      <div class="claps-box">
        <i class="material-icons" (click)="incrementClap(user.id)">thumb_up</i>
        <span (click)="incrementClap(user.id)">{{user.numClaps}}</span>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Skills">
          <app-skills [skills]="user.skills"></app-skills>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

      